transformers==4.55.4
accelerate==1.10.1
safetensors==0.6.2
numpy==2.3.2
tqdm==4.67.1
pulp==3.2.2
attrs==25.3.0
psutil==7.0.0
PyYAML==6.0.2
bitsandbytes==0.47.0
memory-profiler==0.61.0
pynvml-nvml-bindings==6.0.0